.cards-section{
    margin: 50px 0px;
    @include mobile{
        margin: unset;
    }
    &_container{
        border-radius: 25px;
        background: $secondary-color;
        justify-content: center;
        align-items: center;
        display: flex;
        @include mobile{
            background: none;
        }
    }
}