.dropdown-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    &_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        &_title{
            display: flex;
            justify-content: space-between;
            background: $primary-color;
            border-radius: 5px;
            color: $white-color;
            border-radius: 10px;
            padding: 10px;
        }
        span{
            font-size: 20px;
            font-weight: bold;
            @include mobile {
                font-size:13px;
                font-weight: 700;
            }
        }
        .rotate {
            transform: rotate(180deg);
            transition: transform 0.3s ease; /* Ajoute une transition pour une animation fluide */
        }
        &_description{
            background-color: $secondary-color;
            padding: 15px;
            text-align: start;
            ul{
                padding: unset;
                li{
                    list-style:none ;}
            }
        }
    }
}