.header-container{
    &_elements{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 45px 100px;
        @include mobile{
            padding: 20px;
            margin: inherit;
        }
        img{
            width: 210.322px;
            height: 68px;
            @include mobile{
                width: 145px;
                height: 46.88px;
            }
        }
        &_nav{
            display: flex;
            gap: 57px;
            @include mobile{
                gap: 26px
            }
            &-link{
                color:$black-color;
                text-decoration: none;
                &.active{
                    text-decoration: underline;
                }
            }
        }
    }
}
