.main-section{
    margin: 0 100px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    @include mobile{
        margin: 0 20px;
        row-gap: 30px;
        display: flex;
        flex-direction: column;
    }
}