.housing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 100px;
    gap: 30px;
    @include mobile{
        margin: 0 20px;
        gap: 15px;
    }
}